<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
     <div class="container">
         <aside>coluna esquerda</aside>
         <main>coluna direita</main>
     </div>

    <!-- tentativa
    <div class="container">
        <div class="container1">b
        </div>
        <div class="container2">c
        </div>
    </div>
    -->
</body>
</html>